@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  min-height: 100%;
}

body {
  position: relative;
  /* background-image: radial-gradient(
      at 100% 40%,
      rgba(129, 100, 244, 0.2) 0px,
      transparent 40%
    ),
    radial-gradient(at 90% -80%, rgba(252, 165, 165, 0.2) 0px, transparent 50%); */
  /* background-image: url("../../public/beams_gradient.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
body::before {
  content: "";
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.008) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0.008) 0.1em, transparent 0.1em);
  background-size: 2em 2em;
  z-index: -1;
}
button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

form .input {
  transition: all 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
form .input:hover,
form .input:focus,
.input:active {
  transition: all 600ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px, rgba(0, 255, 204, 0.06) 0px 10px;
}
.pushable {
  background: #0a7f5f;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  user-select: none;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #10a37f;
  color: white;
  transform: translateY(-6px);
  will-change: transform;
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.pushable:active .front {
  transform: translateY(-2px);
}
.pushable:hover .front {
  transform: translateY(-8px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}
footer {
  height: calc(18vh - 80px);
}
